MOCK_API=true
API_BASE_URL=/api
# API_BASE_URL=https://app-dev.bizarrelab.io:5001/

AUTHORIZE_URL=/signin
# AUTHORIZE_URL=https://app-dev.bizarrelab.io:5001/signin
CHECK_USER_AUTHORIZATION_URL=/users/signed
# CHECK_USER_AUTHORIZATION_URL=https://app-dev.bizarrelab.io:5001/users/signed
# CHECK_USER_AUTHORIZATION_URL=https://app-dev.bizarrelab.io:5001/users/signed


# api urls

API_GET_PAGES=/pages

API_GET_MENU=/menus/{menuId}
API_GET_MENU_CATEGORIES=/menus/{menuId}/categories
API_GET_MENU_ITEMS=/menuitems
API_GET_MENU_ITEM=/menuitems/{dishId}

API_GET_PRODUCTS=/productIds
